.cotizacion-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  margin-top: 45px;
}

.cotizacion-title {
  text-align: center;
  font-size: 36px; 
  color: #fa5a5a; 
  font-weight: 600;
}

.cotizacion-label {
  display: block;
  margin: 12px 0 6px; /* Espaciado más equilibrado */
  font-size: 19px;
  font-weight: 600;
  color: #484848; /* Tono más suave y accesible */
}

.cotizacion-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px; /* Más espacio entre inputs */
  border: 2px solid #ddd;
  border-radius: 10px; /* Bordes más suaves */
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.cotizacion-checkbox-label {
  font-weight: 600;
  color: #e74c3c; /* Rojo más oscuro para resaltar */
  margin-bottom: 20px; /* Espaciado adicional */
  display: inline-block;
}

.cotizacion-checkbox {
  margin-right: 10px;
}

.cotizacion-total {
  text-align: right;
  font-size: 23px; /* Aumento el tamaño para que destaque más */
  color: #e52b2b;
  font-weight: 600; /* Acentúa el total */
}


.cotizacion-buttons-container {
  display: flex;
  justify-content: flex-start; /* Alinea los botones a la izquierda */
  gap: 15px; /* Añade separación entre los botones */
  margin-top: 20px;
}

.cotizacion-button {
  width: 50%;
  padding: 14px;
  background-color: #db3434; /* Un azul más moderno */
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 16px; /* Bordes más suaves */
  cursor: pointer;
  font-size: 18px; /* Aumento el tamaño de la fuente */
  transition: background-color 0.3s ease, transform 0.1s ease; /* Efectos más suaves */
  margin-bottom: 5px;

}

.cotizacion-button:hover {
  background-color: #b92929; /* Azul más oscuro */
  transform: translateY(-2px); /* Efecto de hover más dinámico */
}

.cotizacion-button:focus {
  outline: 2px solid #db3434; /* Añadir borde para mejorar accesibilidad */
  outline-offset: 4px;
}



/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
  .cotizacion-container {
    padding: 15px; /* Reducir padding en pantallas pequeñas */
    margin-top: 20px; /* Menos margen superior */
  }

  .cotizacion-title {
    font-size: 30px; /* Tamaño de fuente ajustado para móviles */
  }

  .cotizacion-input, .cotizacion-button {
    font-size: 14px; /* Tamaño de fuente ajustado */
  }
}
