/* Dashboard */
.dashboard-container {
    display: flex;
    height: 100vh;
    margin-left: 250px; /* Separa el contenido del Sidebar */
}

.content {
    flex-grow: 1;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;  
    color: #464646;
    margin-top: 40px; /* Respeta la altura del navbar */
}


.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-box {
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}

.stat-box.diario {
    background: linear-gradient(145deg, #ff6347, #ff4500);
}

.stat-box.semanal {
    background: linear-gradient(145deg, #b832cd, #72228b);
}

.stat-box.mensual {
    background: linear-gradient(145deg, #ff1ecb, #b4468f);
}

.stat-box.clientes {
    background: linear-gradient(145deg, #fae634, #ffce0b);
}

.stat-box h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number {
    font-size: 24px;
    font-weight: bold;
}

.income-chart-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.period-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.period-selector button {
    background-color: #ffffff;
    color: #333;
    border: 2px solid #f3f3f3;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.period-selector button:hover {
    background-color: #ddd;
}

.period-selector button.active {
    background-color: #ef5a5a;
    color: white;
    border-color: #ff6262;
}

.recharts-wrapper {
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
}
