/* Contenedor principal */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #ff3578;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Contenido Principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;  /* Fondo claro para el contenido */
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-box {
    background: linear-gradient(145deg, #ff0000, #991313); /* Transición de colores azules */
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}

/* Diseño del gráfico */
.income-chart-container {
    background-color: white; /* Fondo blanco para el gráfico */
    border-radius: 10px;     /* Bordes redondeados */
    padding: 20px;           /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 30px;        /* Espaciado superior */
}

.period-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.period-selector button {
    background-color: #fa4444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.period-selector button:hover {
    background-color: #b30000;  /* Cambio de color al pasar el mouse */
}

/* Estilo para el gráfico */
.recharts-wrapper {
    border-radius: 10px;    /* Bordes redondeados del gráfico */
    background: #ffffff;       /* Fondo blanco */
    padding: 20px;          /* Padding adicional */
}
