/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    width: calc(100% - 250px); /* Ajuste según el tamaño del sidebar */
    color: #fb5151; 
    border-bottom: 2px solid #e9e8e8; 
    position: fixed;
    top: 0;
    left: 250px; /* Debe coincidir con el margen izquierdo del contenido */
    z-index: 1002; /* Asegura que esté encima del sidebar */
    height: 70px; /* Ajusta la altura si es necesario */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    width: 100%;
    font-size: 15px;
}

.search-bar i {
    margin-left: 8px;
    color: #f85f5f;
    font-size: 20px;
    cursor: pointer;
}

.search-bar input:focus {
    outline: none;
}

.user-info {
    font-size: 18px;
    font-weight: bold;
}
